/* Header Nav */
.md-header-nav.md-grid {
    height: 53px;
}

/* Logo */
.md-header__button.md-logo img {
    height: 60px;
    margin: -18px 0 0 -20px;
    pointer-events: none;
    width: 70px;   
}

/* Logo title */
.md-header__topic {
    font-family: 'Mukta Mahee';
    font-size: 1.2rem;
    font-weight: 100;
    margin: 4px 0 0 -38px;
}

/* Edit button */
.md-content__button.md-icon {
    display: none;
}

/* Installation - Image size */
img[title="Single Instance Combined"] {
    height: 310px;
}

/* Hide right-side nav */
.md-sidebar.md-sidebar--secondary,
.md-sidebar.md-sidebar--secondary .md-nav__link {
    color: transparent !important;
    pointer-events: none;
}

/* Content headers */
h1 {
    font-family: 'Roboto Light' !important;
    font-weight: 300 !important;
}

/* Header tabs */
.md-tabs__list {
    font-family: 'Roboto';
}

.md-main__inner.md-grid .md-content__inner.md-typeset {
    max-width: 800px;
}

.md-header {
    margin-bottom: -9px;
}